<a href="https://colab.research.google.com/github/nawabtanweer/nawabtanweer/blob/main/Acer_TradeMark_Working.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3
print('Libraries Imported')

Libraries Imported

In [ ]:
conn = sqlite3.connect('testingtm.db')
print('Connection Established and database created/loaded')
c = conn.cursor()
print('Cursor created')

Connection Established and database created/loaded
Cursor created

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/testing_tm.csv')
print('CSV file imported')

CSV file imported

In [ ]:
first_row = df.head(20)
print(first_row)

                Row Labels
0   + S3 UniChrome Pro IGP
1                     2150
2                  2400Pro
3                      315
4                  4500MHD
5                      505
6                      510
7                      605
8                      650
9                     651C
10                   651GX
11                651GX 3D
12                   6600G
13                   661FX
14                   661GX
15                    7050
16                   761GX
17                     810
18                    8400
19                  8400GS

In [ ]:
print(df.columns)

Index(['Row Labels'], dtype='object')

In [ ]:
df.columns=['pline']
print('name assigned to column in dataframe')

name assigned to column in dataframe

In [ ]:
table_name = 'tmark'
df.to_sql(table_name, conn, index=False, if_exists='replace')

print('Data inserted into the table')

Data inserted into the table

c.execute("""
SELECT * FROM tmark WHERE pline NOT LIKE '%®%' AND pline NOT LIKE'Radeon™%'
AND pline NOT LIKE '%Radeon™%' AND pline NOT LIKE '%RTX™%'
""")
conn.commit()
row = c.fetchall()
print('The number of data returned is: ', len(row))

for rows in row:
  print(rows)

In [ ]:
c.execute("""
SELECT * FROM tmark WHERE pline NOT LIKE '%®%' AND pline NOT LIKE'%™%'
""")
conn.commit()
row = c.fetchall()
print('The number of returned value is: ', len(row))
print('The data without r and tm is below: ')
i = 0
while i < 15:
  i = 1 + i
  print(row[i])

The number of returned value is:  735
The data without r and tm is below:
('2150',)
('2400Pro',)
('315',)
('4500MHD',)
('505',)
('510',)
('605',)
('650',)
('651C',)
('651GX',)
('651GX 3D',)
('6600G',)
('661FX',)
('661GX',)
('7050',)

In [ ]:
c.execute("""
CREATE TABLE IF NOT EXISTS notm (pline VARCHAR(50));
""")
conn.commit()
print("notm table created")

notm table created

In [ ]:
c.execute("""
INSERT INTO notm (pline)
SELECT * FROM tmark WHERE pline NOT LIKE '%®%' AND pline NOT LIKE'%™%'
""")
conn.commit()
print('Data inserted into notm table')

Data inserted into notm table

In [ ]:
c.execute("""
SELECT * FROM notm
""")
row=c.fetchall()
print('Data inserted into the notm table is: ', len(row))
i = 0
while i < 15:
  print(row[i])
  i += 1

Data inserted into the notm table is:  735
('+ S3 UniChrome Pro IGP',)
('2150',)
('2400Pro',)
('315',)
('4500MHD',)
('505',)
('510',)
('605',)
('650',)
('651C',)
('651GX',)
('651GX 3D',)
('6600G',)
('661FX',)
('661GX',)

In [ ]:
c.execute("""
UPDATE notm SET pline=REPLACE(pline, 'GeForce', 'GeForce®')
WHERE pline LIKE('GeForce%');
""")
conn.commit()
print('Values replaced')

Values replaced

In [ ]:
c.execute("""
SELECT * FROM notm WHERE pline LIKE 'GeForce%';
""")
row = c.fetchall()
i=0
while i < 15:
  print(row[i])
  i += 1

('GeForce®',)
('GeForce®  8600 M GS',)
('GeForce®  8600M-GS',)
('GeForce®  9300M-GS',)
('GeForce®  9500M GS',)
('GeForce® 2 GTX 280',)
('GeForce® 2 MX400',)
('GeForce® 205',)
('GeForce® 210M',)
('GeForce® 240 GT',)
('GeForce® 240M GT',)
('GeForce® 310',)
('GeForce® 310M',)
('GeForce® 315',)
('GeForce® 320 GT',)

In [ ]:
c.execute("""
UPDATE notm
SET pline = REPLACE(REPLACE(pline, 'GeForce®', 'GeForce'), 'RTX', 'RTX™')
WHERE pline LIKE 'GeForce%' AND pline LIKE '%RTX%';
""")
conn.commit()
print('RTX Values replaced')

RTX Values replaced

In [ ]:
c.execute("""
SELECT * FROM notm WHERE pline LIKE 'GeForce%' AND pline LIKE '%RTX%';
""")
row = c.fetchall()
for rows in row:
  print(rows)

('GeForce RTX™-3070',)

In [ ]:
c.execute("""
UPDATE notm SET pline=REPLACE(REPLACE(pline, 'Radeon', 'Radeon™'), 'RADEON', 'Radeon™')
WHERE pline LIKE ('%Radeon%');
""")
conn.commit()
print('Radeon Updated')

Radeon Updated

In [ ]:
c.execute("""
SELECT * FROM notm WHERE pline LIKE '%Radeon%';
""")

rows = c.fetchall()
i = 0
while i < len(rows):
  print(rows[i])
  i += 1

('Mobility Radeon™  9700',)
('MOBILITY Radeon™  X700',)
('MOBILITY Radeon™ 9000',)
('MOBILITY Radeon™ 9000 IGP',)
('MOBILITY Radeon™ 9200',)
('MOBILITY Radeon™ 9600',)
('MOBILITY Radeon™ 9700',)
('MOBILITY Radeon™ X1400',)
('Mobility Radeon™ X1600',)
('MOBILITY Radeon™ X300',)
('Mobility Radeon™ X600',)
('MOBILITY Radeon™ X700',)
('Mobility Radeon™&reg; 9700',)
('MobilityRadeon™ HD 2300',)
('MobilityRadeon™ X1600',)
('Radeon™ 9250',)
('Radeon™ 9600 SE',)
('Radeon™ Xpress 1250',)
('Radeon™ XPRESS 2100',)
('Radeon™&reg; Xpress 1100',)
('Radeon™HD 3200',)
('Radeon™HD X2400XT',)
('Radeon™T HD 3200',)
('Radeon™TM HD 3200',)

In [ ]:
c.execute("""
UPDATE notm SET pline=REPLACE(REPLACE(pline, 'ION', 'ION™'), 'Ion', 'ION™');
""")
conn.commit()
print('ION updated')

ION updated

In [ ]:
c.execute("""
SELECT * FROM notm WHERE pline LIKE '%ION%';
""")
rows = c.fetchall()
i=0
while i < len(rows):
  print(rows[i])
  i += 1

('ION™',)
('ION™ 2',)
('ION™-LE',)

In [ ]:
c.execute("""
UPDATE tmark SET pline=REPLACE(pline, 'NVS', 'NVS™')
WHERE pline LIKE '%NVS%' AND pline NOT LIKE '%NVS™%';
""")
print('NVS updated')

NVS updated

In [ ]:
c.execute("""
SELECT * FROM tmark
WHERE pline LIKE '%NVS%';
""")
rows=c.fetchall()
i=0
while i < len(rows):
  print(rows[i])
  i += 1

('NVS™410',)
('NVS™ 300',)
('NVS™ 310',)
('NVS™ 510',)
('Quadro® NVS™290',)
('Quadro® NVS™ 290',)

In [ ]:
query="SELECT * FROM notm"
df=pd.read_sql_query(query, conn)
df.to_excel('file121520231223.xlsx', index=False)
print('File created in runtime folder. Download file to save')

File created in runtime folder. Download file to save

In [ ]:
c.execute("""
DROP TABLE tmark;
""")
conn.commit()
print('tmark table deleted')

c.execute("""
DROP TABLE notm;
""")
conn.commit()
print('notm table deleted')

tmark table deleted
notm table deleted

In [ ]:
c.close()
conn.close()
print('All connections closed')

All connections closed