<a href="https://colab.research.google.com/github/nawabtanweer/nawabtanweer/blob/main/Ex_1_Input_Data_in_SQL_db.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Practice Exercise***

**Perform the below mentioned exercise using SQLite and Python:**
- a. Create an SQL database
- b. Create an SQL Table containing columns: name, age
- c. Manually enter data in new table
- d. Manually enter data of 3 users
- e. Using python create a query that ask user to enter name and age (insert at least 3 more datasets)
- f. Add a new integer column of phone number
- g. Add a new column for Serial Number as a primary key and auto increment properties
- h. Insert data in phone number column
- i. Display table in tabular format.

Youtube Channel:UB Programmer

---
This is a correctly running solution for above exercise. Practice the queries in Ruf-Practice notebook, multiple time so quries can be memorize

---

In [184]:
#importing sqlite3 and pandas library
import sqlite3
import pandas as pd
print('Libraries imported')

Libraries imported

In [185]:
#a) Creating and connecting database in sqlite3
conn = sqlite3.connect('user.db') #conn will act as connection to database
print('Databasee connected/Created')

Databasee connected/Created

In [186]:
#create cursor for sqlite
c = conn.cursor()
print('Coursor created')

Coursor created

In [187]:
#b) create a table containing columns name and age
c.execute("""
DROP TABLE IF EXISTS my_user;
""")
conn.commit()
print('Table droped')

c.execute("""
CREATE TABLE IF NOT EXISTS my_user (name VARCHAR(50), age INT);
""")
print('Table is created')
conn.commit()

Table droped
Table is created

In [188]:
#c) insert data into table
c.execute("""
INSERT INTO my_user(name, age) VALUES('ubaid', '24');
""")
print('First data inserted')

First data inserted

In [189]:
#view the newly inserted data
c.execute("""
SELECT * FROM my_user;
""")
rows=c.fetchall()
i=0
for row in rows:
  print(row)

('ubaid', 24)

In [190]:
#d) Manually enter data for atleast 3 users
#Remember here were use executemany to run cursor multiple time, and we are using tuple with list to enter data
c.executemany("""
INSERT INTO my_user (name, age) VALUES (?, ?)
""",
          [('Ibad', 23),
           ('Waqar', 34),
           ('Aftab', 18)]
          )
print('Data inserted')

Data inserted

In [191]:
#Display data in table
c.execute("""
SELECT * FROM my_user;
""")
row=c.fetchall()
for rows in row:
  print(rows)

('ubaid', 24)
('Ibad', 23)
('Waqar', 34)
('Aftab', 18)

In [192]:
#create a query that ask user to enter name and age
user_name=input('Enter user name:')
user_age=int(input('Enter user age:'))

#save the inserted data into table my_user
c.execute("""
INSERT INTO my_user (name,age) VALUES(?,?)
""",(user_name, user_age))
conn.commit()
print(f'{user_name}, {user_age}, data inserted')

Enter user name:Nawab
Enter user age:45
Nawab, 45, data inserted

In [193]:
#insert new column phone into existing table
c.execute("""
ALTER TABLE my_user ADD 'phone' INTEGER;
""")
conn.commit()
print('New column phone inserted')

New column phone inserted

In [194]:
c.execute("""
SELECT * FROM my_user;
""")
rows=c.fetchall()
for row in rows:
  print(row)

('ubaid', 24, None)
('Ibad', 23, None)
('Waqar', 34, None)
('Aftab', 18, None)
('Nawab', 45, None)

In [195]:
#insert a new column sr no as integer with properties as PRIMARY KEY and AUTO INCREMENT
c.execute("""
DROP TABLE IF EXISTS temp_my_user;
""")
conn.commit()
print('Table Droped')
c.execute("""
CREATE TABLE IF NOT EXISTS temp_my_user (sr_no INTEGER PRIMARY KEY AUTOINCREMENT, name VARCHAR(50), age INT, phone INTEGER)
""")
print('Temperory table created')
conn.commit()
c.execute("""
INSERT INTO temp_my_user (name, age, phone)
SELECT name, age, phone FROM my_user
""")
conn.commit()
print('Data inserted into new table')

Table Droped
Temperory table created
Data inserted into new table

In [196]:
#Check schema of table
c.execute("""
PRAGMA table_info (temp_my_user)
""")

row = c.fetchall()

for rows in row:
  print(rows)

(0, 'sr_no', 'INTEGER', 0, None, 1)
(1, 'name', 'VARCHAR(50)', 0, None, 0)
(2, 'age', 'INT', 0, None, 0)
(3, 'phone', 'INTEGER', 0, None, 0)

In [197]:
c.execute("""
SELECT * FROM temp_my_user
""")
row=c.fetchall()
for rows in row:
  print(rows)

(1, 'ubaid', 24, None)
(2, 'Ibad', 23, None)
(3, 'Waqar', 34, None)
(4, 'Aftab', 18, None)
(5, 'Nawab', 45, None)

In [198]:
#Drop table my_user
c.execute("""
DROP TABLE IF EXISTS my_user;
""")
conn.commit()
print('my_user table droped')

my_user table droped

In [199]:
#Rename temp_my_table to my_table
c.execute("""
ALTER TABLE temp_my_user RENAME TO my_user
""")
print('Table renamed')

Table renamed

In [200]:
#Insert data in phone column
c.execute("""
UPDATE my_user SET phone=0333 WHERE name='ubaid';
""")
conn.commit()
print('data inserted')

data inserted

In [201]:
#Display result in tabular form
df=pd.read_sql_query('SELECT * FROM my_user', conn)
print(df)

   sr_no   name  age  phone
0      1  ubaid   24  333.0
1      2   Ibad   23    NaN
2      3  Waqar   34    NaN
3      4  Aftab   18    NaN
4      5  Nawab   45    NaN

In [204]:
#We can also display result directly from pandas
pd.read_sql_query('SELECT * FROM my_user', conn)

   sr_no   name  age  phone
0      1  ubaid   24  333.0
1      2   Ibad   23    NaN
2      3  Waqar   34    NaN
3      4  Aftab   18    NaN
4      5  Nawab   45    NaN

#Close cursor and connection
c.close()
conn.close()
print('All connections closed')